# ignore OriginalDataset folder
imdeld_dataset/*

# ignore imdeld_analysis/images folder
src/imdeld_analysis/results/images/*

# ignore documentation/images folder
documentation/images/*

# ignore all asv files
*.asv

# ignore .vscode
.vscode

# ignore clion
.idea
