data/processed/HIPE/1_week/aggregate_training.csv filter=lfs diff=lfs merge=lfs -text
data/processed/HIPE/1_week/aggregate_validation.csv filter=lfs diff=lfs merge=lfs -text
data/processed/HIPE/1_week/equipment_training.csv filter=lfs diff=lfs merge=lfs -text
data/processed/HIPE/1_week/equipment_validation.csv filter=lfs diff=lfs merge=lfs -text
data/processed/HIPE/1_week/on_off_training.csv filter=lfs diff=lfs merge=lfs -text
data/processed/HIPE/1_week/on_off_validation.csv filter=lfs diff=lfs merge=lfs -text
data/processed/IMDELD/data_6_equipment/aggregate_training.csv filter=lfs diff=lfs merge=lfs -text
data/processed/IMDELD/data_6_equipment/aggregate_validation.csv filter=lfs diff=lfs merge=lfs -text
data/processed/IMDELD/data_6_equipment/equipment_training.csv filter=lfs diff=lfs merge=lfs -text
data/processed/IMDELD/data_6_equipment/equipment_validation.csv filter=lfs diff=lfs merge=lfs -text
data/processed/IMDELD/data_6_equipment/on_off_training.csv filter=lfs diff=lfs merge=lfs -text
data/processed/IMDELD/data_6_equipment/on_off_validation.csv filter=lfs diff=lfs merge=lfs -text
data/processed/IMDELD/data_8_equipment/aggregate_training.csv filter=lfs diff=lfs merge=lfs -text
data/processed/IMDELD/data_8_equipment/aggregate_validation.csv filter=lfs diff=lfs merge=lfs -text
data/processed/IMDELD/data_8_equipment/equipment_training.csv filter=lfs diff=lfs merge=lfs -text
data/processed/IMDELD/data_8_equipment/equipment_validation.csv filter=lfs diff=lfs merge=lfs -text
data/processed/IMDELD/data_8_equipment/on_off_training.csv filter=lfs diff=lfs merge=lfs -text
results/optimization/IMDELD/estimated_active_power.csv filter=lfs diff=lfs merge=lfs -text
results/optimization/IMDELD/estimated_coef.csv filter=lfs diff=lfs merge=lfs -text
results/optimization/IMDELD/estimated_coef2.csv filter=lfs diff=lfs merge=lfs -text
results/optimization/IMDELD/estimated_coef3.csv filter=lfs diff=lfs merge=lfs -text
results/optimization/IMDELD/estimated_coef4.csv filter=lfs diff=lfs merge=lfs -text
results/deep_learning/HIPE/1_week/estimated_active_power.csv filter=lfs diff=lfs merge=lfs -text
