data/processed/IMDELD/data_8_equipment/* filter=lfs diff=lfs merge=lfs -text
data/processed/IMDELD/data_6_equipment/* filter=lfs diff=lfs merge=lfs -text
data/processed/HIPE/1_week/* filter=lfs diff=lfs merge=lfs -text
results/optimization/* filter=lfs diff=lfs merge=lfs -text
results/deep_learning/* filter=lfs diff=lfs merge=lfs -text
