# ignore OriginalDataset folder
data/raw/*

# ignore imdeld_analysis/images folder
src/preprocessing/results/images/*

# ignore documentation/images folder
documentation/images/*

# ignore all asv files
*.asv

# ignore .vscode
.vscode

# ignore clion
.idea
