# ignore OriginalDataset folder
data/raw/*

# ignore imdeld_analysis images folder
reports/figures/*

# ignore images folder
docs/Images/*

# ignore all asv files
*.asv

# ignore .vscode
.vscode

# ignore clion
.idea

# ignore cmake build folder
/src/optimization/estimation/build
/src/optimization/validation/build
/src/optimization/deep_learning/__pycache__
